body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
         background-color: #f4f4f4;
        }
    
header {
        background-color: white;
        color: white;
        text-align:center;
        padding: 50p5x;
    }

  

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(103, 5, 5, 0.504);
}