/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
  
}

header {
  background-color:white;
  color:green;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
 

 select {
  width: 100%;
}


.logo-container img{
width: 150px;
height: 150px;

}

.main.title {
  margin-left: 10px;
  font-size: 1.0em;
}

.subtitle {
  font-style: italic;
  text-align: center;
  /* margin-top: 5px; */
  font-size: 0.5em;

}

nav.use a {
  margin: 0 10px;
  text-decoration: none;
}

.courses-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 90%;
}

.course-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(50%-10px);/* Adjust width for 3 columns */
  text-align: center;
}

.course-card h2 {
  color: #4CAF50;
  margin-bottom: 10px;
}

.course-card p {
  color: #333;
}

footer {
  background-color: #4CAF50;
  color: white;
  padding: 10px 0;
  text-align: center;
  margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .course-card {
    width: calc(100% / 2 - 20px); /* Adjust width for 2 columns */
    body{
      font-size: 14px;
    }
  }
}

@media (max-width: 480px) {
  .course-card {
    width: 100%; /* Single column on small screens */
    flex-direction: column;
  }
}







