
header {
    background-color:purple;
    color: white;
    padding: 0px;
    text-align: center;
    margin-bottom: 5px;
        }
    .main-title{
        font-size: 2em;
        padding-bottom: 0me;
        margin-bottom: 5PX;
    }

.use a{
       align-content: center;
       text-align: right;
    display: grid;
    
    }

    .subtitle{
        font-size: 1em;
        padding-top: 0px;
        text-align: center;
          margin-top: 3PX;
    }

body{
    background-image: url(wallpaper.jpg);
    color: white;
    font-size: large;
    
   }
    

    

  
    

  

   








    text-decoration: underline;
}
